<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="mb-4">
                <h2 class="h1-responsive font-weight-bold text-center my-4">CONTACT</h2>
                <p class="text-center w-responsive mx-auto mb-5">Formulaire de contact pour d'éventuelles questions...</p>
                <div class="row">
                    <div class="col-md-9">
                        <form id="contact-form" name="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="name" class="">Nom : </label> <br>
                                        <input type="text" id="name" name="name"> <br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="email" class="">Adresse email : </label> <br>
                                        <input type="text" id="email" name="email"> <br>   
                                    </div>
                                </div>           
                            </div>           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="subject">Sujet du contact : </label> <br>
                                        <input type="text" id="subject" name="subject"> <br>
                                    </div>
                                </div>
                            </div>
                     
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <label for="message">Votre message :</label> <br>
                                        <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea> <br>
                                    </div>
                                </div>
                            </div>
                            <button value="submit">Envoyer</button>
                        </form>      
                    </div>
                    <div class="col-md-3 text-center">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>ISFATES - 57070 METZ</p>
                            </li>
                            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                <p>zoe.riebel@icloud.com</p>
                                <p>muller.francois.7@gmail.com</p>
                                <p>joel.borgers@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
